body{
    background-image: url("flower.jpeg");
    background-repeat: no-repeat;
    background-size: 1500px;
    background-attachment: fixed;
}
.font{
    font-weight: bolder;
    font-size: 20px;
    color: black;
}