div{
    padding: 20px;
    border: solid red 2px;
    margin: 10px;
    width: 100px;
    height: 200px;
    float: left;
}
#d1{
    /* transform: translate(200px, 250px); */
    /* transform: translateX(400px); */
    transform: translateY(500px);
}
#d2{
    /* transform: rotateX(150deg); */
    transform: rotateY(120deg);

}
#d3{
    transform: skew(20deg, 30deg);
}
#d4{
    margin: 20px;;
    transform: scale(2, 2);
}
#d4{
    
    transform: scale(2, 4);
}